/* You can add global styles to this file, and also import other style files */
/***********************************
************TYPOGRAPHY**************
************************************/

/***********************************
*************************************
**********GLOBAL ELEMENTS************
*************************************
************************************/

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background: lightgray;
}
/***********************************
*************************************
**********GLOBAL CLASSES************
*************************************
************************************/

/************************************
*************************************
***********CSS SECTIONS**************
*************************************
************************************/

/***********************************
***************HEADER****************
************************************/

/*********** NAV BAR ***************/

nav {
  background-color: cadetblue;
  margin: 0;
  padding: 0;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

nav ul li {
  margin-left: 15px;
  padding: 20px;
}
/**********************************
****************MAIN***************
***********************************/

h1 {
  text-align: center;
  margin: 5px;
}

/*********** SECTION ***************/

/*********** SECTION ***************/

/*********** SECTION ***************/

/**********************************
**************FOOTER***************
***********************************/

/*********** CONTACT ***************/

/*********** CREDITS ***************/
