/* You can add global styles to this file, and also import other style files */
/***********************************
************TYPOGRAPHY**************
************************************/

/***********************************
*************************************
**********GLOBAL ELEMENTS************
*************************************
************************************/

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background: rgb(238, 227, 231);
}

img {
  height: 75px;
}

/***********************************
*************************************
**********GLOBAL CLASSES************
*************************************
************************************/

/************************************
*************************************
***********CSS SECTIONS**************
*************************************
************************************/

/***********************************
***************HEADER****************
************************************/

/*********** NAV BAR ***************/

nav {
  background-color: lightblue;

  display: flex;
  justify-content: space-between;
  align-content: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 30px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

/**********************************
****************MAIN***************
***********************************/

main {
  text-align: center;
}

h1,
h2,
p {
  margin: 20px;
  text-align: center;
}

/*********** SECTION ***************/

/*********** SECTION ***************/

/*********** SECTION ***************/

/**********************************
**************FOOTER***************
***********************************/

/*********** CONTACT ***************/

/*********** CREDITS ***************/
