/***********************************
************TYPOGRAPHY**************
************************************/

/***********************************
*************************************
**********GLOBAL ELEMENTS************
*************************************
************************************/

body {
	height: 100%;
	margin: 0;
	background: linear-gradient(120deg, rgb(11, 93, 107), rgb(13, 126, 126) 70%);
	background-repeat: no-repeat;
	background-attachment: fixed;
	color: white;
	text-align: center;
}

/***********************************
*************************************
**********GLOBAL CLASSES************
*************************************
************************************/

/************************************
*************************************
***********CSS SECTIONS**************
*************************************
************************************/

/***********************************
***************HEADER****************
************************************/

/*********** NAV BAR ***************/

nav ul {
	display: flex;
	justify-content: center;
}

nav ul li {
	padding-left: 15px;
}

/**********************************
****************MAIN***************
***********************************/

/*********** SECTION ***************/

/*********** SECTION ***************/

/*********** SECTION ***************/

/**********************************
**************FOOTER***************
***********************************/

/*********** CONTACT ***************/

/*********** CREDITS ***************/
