/***********************************
************TYPOGRAPHY**************
************************************/

/***********************************
*************************************
**********GLOBAL ELEMENTS************
*************************************
************************************/

/***********************************
*************************************
**********GLOBAL CLASSES************
*************************************
************************************/

.hide {
  display: none;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/************************************
*************************************
***********CSS SECTIONS**************
*************************************
************************************/

body {
  background-color: darkblue;
  color: white;
}

/***********************************
***************HEADER****************
************************************/

/*********** NAV BAR ***************/

nav {
}

nav ul {
  display: flex;
  justify-content: center;
}

nav ul li {
  padding: 20px;
}

/**********************************
****************MAIN***************
***********************************/

/*********** SECTION BUTTONS ***************/

main #addButton {
  justify-content: center;
}

/*********** SECTION #CONTENT ***************/

#content ul {
  display: flex;
}

main #content ul li {
  margin: 0 20px;
  text-align: center;
}

main #content ul li img {
  width: 250px;
}

/*********** SECTION ***************/

#form {
  background-color: ;
}

/***********   FORM  ***************/

#form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#form input[type="submit"] {
  margin: 10px;
}

/**********************************
**************FOOTER***************
***********************************/

/*********** CREDITS ***************/

footer {
  text-align: center;
}
