/***********************************
************TYPOGRAPHY**************
************************************/

/***********************************
*************************************
**********GLOBAL ELEMENTS************
*************************************
************************************/

button {
  background-color: skyblue;
  border: 1px;
  border-radius: 25px;
  padding: 5px;
}

button:hover {
  background-color: white;
}

/***********************************
*************************************
**********GLOBAL CLASSES************
*************************************
************************************/

.hide {
  display: none;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 
.button {
  display: none;
} */

.container {
  position: relative;
}

/************************************
*************************************
***********CSS SECTIONS**************
*************************************
************************************/

body {
  background-color: darkblue;
  color: white;
  position: relative;
}

/***********************************
***************HEADER****************
************************************/

/*********** NAV BAR ***************/

nav {
}

nav ul {
  display: flex;
  justify-content: center;
}

nav ul li {
  padding: 20px;
}

/**********************************
****************MAIN***************
***********************************/

/*********** SECTION BUTTONS ***************/

main #addButton {
  justify-content: center;
}

/*********** SECTION #CONTENT ***************/

#content ul:first-child {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#content ul li {
  margin: 0 20px;
  text-align: center;
}

#content ul li img {
  width: 250px;
  opacity: 1;
  display: block;
}

#content img:hover + .hide,
.hide:hover {
  display: inline-block;
}

#buttonslist {
}

.container:hover img:hover {
  border: 10px solid rgba(255, 255, 255, 0.35);
}

/*********** SECTION ***************/

#form {
  text-align: center;
}
/***********   FORM  ***************/

#form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#form input[type="submit"] {
  margin: 10px;
}

form ul li input:not(input[type="submit"]) {
  width: 200px;
}

/**********************************
**************FOOTER***************
***********************************/

/*********** CREDITS ***************/

footer {
  text-align: center;
}
