/***********************************
************TYPOGRAPHY**************
************************************/

/***********************************
*************************************
**********GLOBAL ELEMENTS************
*************************************
************************************/

/***********************************
*************************************
**********GLOBAL CLASSES************
*************************************
************************************/

/************************************
*************************************
***********CSS SECTIONS**************
*************************************
************************************/

body {
  background-color: darkblue;
  color: white;
}

/***********************************
***************HEADER****************
************************************/

/*********** NAV BAR ***************/

nav {
}

nav ul {
  display: flex;
  justify-content: center;
}

nav ul li {
  padding: 20px;
}

/**********************************
****************MAIN***************
***********************************/

/*********** SECTION ***************/

main section {
  padding: 50px;
  display: flex;
}

main section ul li {
  margin: 0 20px;
}

/*********** SECTION ***************/

/*********** SECTION ***************/

/**********************************
**************FOOTER***************
***********************************/

/*********** CONTACT ***************/

/*********** CREDITS ***************/
